.login-form-container{
    min-height: 450px;
    background: #fff;
    box-shadow: 0 0 10px #eaeaea;
    padding-top: 50px;
}

.signup-form-container{
    min-height: 450px;
    background: #fff;
    box-shadow: 0 0 10px #eaeaea;
    padding: 15px;
}